# vscode
.vscode 

# Intellij
*.iml
.idea

# npm
node_modules

# Don't include the compiled main.js file in the repo.
# They should be uploaded to GitHub releases instead.
# main.js

# Exclude sourcemaps
*.map

# obsidian
data.json

# Exclude macOS Finder (System Explorer) View States
.DS_Store
/cp-js2cortex.bat
ncryption
data_bkp_231023.json
*.html
*.xml
coverage/lcov.info
coverage/lcov-report/badges.ts.html
coverage/lcov-report/constants.ts.html
coverage/lcov-report/creatmodchartcalculation.ts.html
coverage/lcov-report/index.html
coverage/lcov-report/levels.ts.html
coverage/lcov-report/main.ts.html
coverage/lcov-report/majuritycalculation.ts.html
coverage/lcov-report/randomNotificationText.ts.html
coverage/lcov-report/utils.ts.html
coverage/clover.xml
coverage/coverage-final.json
coverage/lcov-report/encryption.ts.html
coverage/lcov-report/ModalBooster.ts.html
coverage/lcov-report/ModalInformationbox.ts.html
coverage/lcov-report/MultiSelectModal.ts.html