.checkbox-container {
    margin-bottom: 10px;
    display: flex; /* Align items horizontally */
    align-items: center; /* Center items vertically */
}

.checkbox-container input[type="checkbox"] {
    margin-right: 5px;
}

.my-modal li {
    margin-bottom: 10px;
    list-style-type: none; /* Remove default list styles */
}

.modal-crafting-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.crafting-item-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.crafting-item-container button {
    font-size: 14px;
}

.crafting-item-container span {
    font-size: 16px;
}

.modal-checkbox-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.modal-checkbox-container input[type="checkbox"] {
    margin-right: 5px;
}

.modal-button {
    margin-right: 10px; 
}

.avatar-profile {
	padding: 20px;
	border-radius: 8px;
	text-align: center;
}

.avatar-profile img {
	max-width: 150px;
	max-height: 120px;
	border-radius: 50%;
	margin-bottom: 15px;
}

.level-and-points, .booster-factor, .daily-notes, .weekly-notes {
	margin-top: 10px;
	font-size: 18px;
	text-align: center;
}

.chart-container {
	width: 80%;
	height: 50px;
	margin-bottom: 20px;
}
