.checkbox-container {
    margin-bottom: 10px;
    display: flex; /* Align items horizontally */
    align-items: center; /* Center items vertically */
}

.checkbox-container input[type="checkbox"] {
    margin-right: 5px;
}

.my-modal li {
    margin-bottom: 10px;
    list-style-type: none; /* Remove default list styles */
}

.modal-crafting-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.crafting-item-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.crafting-item-container button {
    font-size: 14px;
}

.crafting-item-container span {
    font-size: 16px;
}

